# Datos de conexion a SQL Server 2025
DB_SERVER=localhost
DB_PORT=1433
DB_DATABASE=AdventureWorks2025
DB_USER=hr_backend_user
DB_PASSWORD=1357$Qetu

# Instancia con nombre (SQLEXPRESS)
DB_INSTANCE=SQLEXPRESS

# Certificado autofirmado / entorno local
DB_TRUST_SERVER_CERTIFICATE=true
DB_ENCRYPT=false

# Puerto de la API Express
PORT=4000